.RequestSubscription_Container {
  border-radius: 9.043px;
  background: #fcfcfc;
  height: 70rem;
  width: 70%;
}

.RequestSubscription_Text {
  padding: 1rem 2.4rem;
  color: var(--Ash-100, #8f8f8f);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.RequestSubscription_Line {
  background: rgba(118, 117, 117, 0.15);
  height: 1.13px;
  padding: 0 !important;
}

.RequestSubscription_DayDurationAndLaundry {
  padding: 1rem 2.5rem;
}
.RequestSubscription_DayDuration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

/* ======= Set Day ======= */
.RequestSubscription_Day {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.RequestSubscription_SetDay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 6px;
  background: rgba(246, 246, 246, 0.66);
  padding: 11.25px 19.086px 10.75px 18.914px;
}

.RequestSubscription_SetDay:hover {
  color: #27a124;
}

/* ======= Set Duration ======= */
.RequestSubscription_Duration {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.RequestSubscription_SetDuration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 6px;
  background: rgba(246, 246, 246, 0.66);
  padding: 11.25px 19.086px 10.75px 18.914px;
}

.RequestSubscription_SetDuration:hover {
  color: #27a124;
}

/*====== Laundry Item Choices =====*/
.RequestSubscription_LaundryContainer {
  padding: 1rem 0;
  width: 100%;
}

.RequestSubscription_LaundryContent {
  border-radius: 10px;
  background: var(--White, #fefefe);
  width: 100%;
  padding: 0.8rem 2rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.89rem;
}

.LaundryItemsGroupCard {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
}

.LaundryItemsGroupCards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.LaundryItemsGroupCardItems {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  width: 15%;
}

.LaundryItemsGroupCardItemsBox {
  width: 5rem;
  height: 2.79rem;
  border-radius: 6px;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.LaundryItemsGroupCardItemsBox_Button,
.LaundryItemsGroupCardItemsBox_Num {
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 500;
}

/*====== Add Property =====*/
.RequestSubscription_RequestSubAddExtraItem {
  padding: 1rem 2.5rem;
}
.AddPropertyContainer {
  width: 100%;
  margin: 0 auto;
}

.AddPropertyCards {
  display: flex;
  width: 100%;
  margin: 0 auto;
  gap: 2rem;
}

.AddPropertyCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fefefe;
  padding: 0.7rem;
  border-radius: 8px;
}

.AddPropertyCardText {
  font-size: 16px;
}

.AddPropertyEditNameAndCounter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AddProperty_AddMore {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  color: #27a124;
  margin: 1.5rem 0 0;
  cursor: pointer;
  width: 6rem;
}

.AddProperty_AddMoreIcon {
  width: 15px;
  height: 15px;
}

.AddProperty_AddMoreText {
  font-size: 15px;
  font-weight: 500;
}

/* ===== Edit Property Name ===== */
.EditPropertyName {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.EditNameInput {
  flex: 1;
  border: 1px solid #ccc;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  width: 3rem;
}

.EditNameIcon {
  margin-left: 8px;
  border: none;
  background: none;
  cursor: pointer;
  color: #a2a2a2;
}

/* ===== Property Counter ====== */

.CounterContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f8f8f8;
  border-radius: 5px;
}

.CounterButton {
  color: #555555;
  border: none;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.CounterButton:disabled {
  color: #555555;
  cursor: not-allowed;
}

.CountNum {
  font-size: 16px;
  min-width: 24px;
  text-align: center;
}

/* ====== Upload Property Image ====== */
.PropertyImageContainer {
  margin: 20px 0;
}

.PropertyAddImageTexts {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.PropertyAddImageText1 {
  font-size: 14px;
  color: #2c2c2c;
  font-weight: 500;
}

.PropertyAddImageText2 {
  color: #cccccc;
  font-size: 14px;
  font-weight: 500;
}

.PropertyImageUploader {
  border: 1px dashed #ccc;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s;
}

.PropertyImageUploader:hover {
  border-color: #888;
}

.PropertyImagePlaceholder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PropertyImageAddImage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PropertyImageIcon {
  font-size: 16px;
  color: #ccc;
}

.PropertyImagePreview {
  display: flex;
  align-items: center;
}

.PropertyImage_img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 8px;
  margin-right: 10px;
}

.PropertyImageRemoveButton {
  background: none;
  border: none;
  cursor: pointer;
}

.PropertyImageRemoveIcon {
  font-size: 24px;
  color: #ff4d4d;
}

.PropertyImageInput {
  display: none;
}

.PropertyImageError {
  color: #ff4d4d;
  margin-top: 10px;
  font-size: 14px;
}

/* ===== Description ===== */
.RequestSubscription_RequestSubDescriptions {
  padding: 1rem 2.5rem;
}

.ItemsDescriptionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.ItemsDescriptionText {
  color: #cccccc;
  font-size: 15px;
  font-weight: 500;
}

.ItemsDescriptionTextarea {
  width: 100%;
  background: rgba(246, 246, 246, 0.66);
  resize: none;
  padding: 1rem 0 0 1rem;
  outline: none;
  border-radius: 8px;
}

/* ===== Button ===== */
.LaundryDoneButton {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: 0.8rem auto;
  padding: 5.791px 34.744px;
  gap: 8.272px;
  border-radius: 4px;
  border: 0.827px solid var(--green2, #4bb149);
  background: rgba(183, 224, 182, 0.2);
}

.RequestSub_Weaning {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  margin-top: 1rem;
  width: 100%;
  padding: 1rem 2.5rem;
}

.RequestSub_WeaningIcon {
  color: var(--green2, #4bb149);
}

.RequestSub_WeaningText {
  font-size: 12px;
}

@media screen and (min-width: 1100px) {
  .RequestSub_WeaningText {
    font-size: 13px;
  }
}