.food_details_container {
  background: var(--Background-color, #f8f8f8);
}
.food_details_frame {
  margin: auto;
  margin-top: 6rem;
  width: min(93%, 1440px);
}

.df_cs {
  /* display: grid;
  grid-template-columns: 70% 30%;
  gap: 41px; */
  background-color: red;
  display: flex;
  gap: 3%;
  justify-content: space-between;
  position: relative;
}

.df_cs_food{
  flex-basis: 100%;
}

.df_cs_check{
  /* flex-basis: 30%; */
  
}