.grooming_container {
  background: #f8f8f8;
}

.grooming-content {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  margin: 0 auto;
  width: 90%;
  gap: 20px;
}

.grooming-image {
  position: relative;
}

.grooming_desktop-image {
  display: none;
}

.grooming_mobile-image {
  position: relative;
  margin: 0 auto;
}

.grooming_mobile-img {
  position: absolute;
  top: 11.6rem;
  right: -0.8rem;
}

.grooming_img-main {
  width: 100%;
}

.grooming-text_container {
  margin-top: -4rem;
  padding-bottom: 2rem;
}
.grooming-btn_text {
  font-size: 13px;
  background: #565656;
  color: #fefefe;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.grooming-subtitle {
  color: #2a2a2a;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1rem;
}

.grooming-des {
  color: #565656;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.19rem;
  margin-bottom: 1rem;
}

.Check-Out_Vendors {
  color: #27a124;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  text-decoration-line: underline;
  display: none;
}
.rest-title-h1 {
  color: #7e7e7e;
  font-size: 2rem;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  margin-bottom: 0.7rem;
}

.sub_food {
  color: #2a2a2a;
  font-family: Poly;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 1rem 0 0.8rem;
}

@media (min-width: 400px) {
  .grooming-content {
    width: 90%;
  }

  .grooming_desktop-image {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .grooming_mobile-image {
    display: none;
  }
}

/* Medium devices */
@media (min-width: 768px) {
  .grooming_mobile-img {
    top: 22.6rem;
    right: -0.2rem;
    width: 12rem;
  }
}
@media (min-width: 900px) {
  .grooming-content {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: min(90%, 1440px);
  }
  .grooming_desktop-image {
    display: block;
    width: 25rem;
  }
  .grooming-title,
  .sub_food {
    display: none;
  }

  .grooming_mobile-image {
    display: none;
  }

  .grooming-text_container {
    margin-bottom: 7rem;
    padding-bottom: 0rem;
  }

  .grooming-btn_text {
    padding: 8px 25px;
  }

  .grooming-subtitle {
    font-size: 20px;
  }

  .grooming-des {
    font-size: 14px;
  }

  .Check-Out_Vendors {
    font-size: 15px;
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .grooming_desktop-image {
    width: 35rem;
  }

  .grooming-text_container {
    margin-bottom: 10rem;
  }
}
