.RestaurantMeal_Frame {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  width: min(93%, 1444px);
}
.restaurant_Meal_filter_line {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.restaurant_Meal_filter {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
}

p.RestaurantMeal_realAmount, p.RestaurantMeal_N,
p.RestaurantMeal_R_Num, p.RestaurantMeal_title_filter, p.RestaurantMeal_Liters {
font-family: 'Poppins', sans-serif;
  font-style: normal;
  line-height: normal;
  color: #2a2a2a;
}

.RestaurantMeal_title_filter {
  font-size: 14px;
  font-weight: 400;
}

.RestaurantMeal_title_filter::after {
  position: absolute;
  content: "";
  width: 57px;
  height: 6px;
  top: 24px;
  left: -12px;
  border-radius: 100px 100px 0 0;
  margin: 0 auto;
  background: #27a124;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RestaurantMeal_cards {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin: 0 auto;
}

.RestaurantMeal_card{
     width: 37%;
  scroll-snap-align: center;
  flex-shrink: 0;
  box-sizing: border-box;
  background-color: #fff;
  overflow-x: hidden;
  border-radius: 16px;
}

.RestaurantMeal_FavANDImage {
  position: relative;
  width: 100%;
}

.RestaurantMeal_Image {
  width: 100%;
}

.RestaurantMeal_Fav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 6px;
  gap: 6px;
  border-radius: 60px;
  border: 0.6px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2.528317937850952px);
}

.RestaurantMeal_FavIcon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #27a124;
}

.RestaurantMeal_details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.6rem;
  width: 100%;
}

.RestaurantMeal_NRT {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.RestaurantMeal_Name_Rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

p.RestaurantMeal_N,
p.RestaurantMeal_R_Num {
  font-size: 16px;
  font-weight: 400;
}

.RestaurantMeal_Dot {
  width: 5.598px;
  height: 5.598px;
  background: #2a2a2a;
  border-radius: 50px;
}

.RestaurantMeal_R,
.RestaurantMeal_T {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.RestaurantMeal_R_Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.951px;
  height: 12.951px;
  color: #ffc93f;
}

.RestaurantMeal_T_Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  gap: 2.398px;
  color: #2a2a2a;
}

p.RestaurantMeal_Liters {
  color: #27a124;
  font-size: 12px;
  font-weight: 400;
}

.RestaurantMeal_amount_and_cart {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0.6rem;
  justify-content: space-between;
  border-radius: 50px;
  background: linear-gradient(
    180deg,
    rgba(249, 249, 249, 0.89) 0%,
    rgba(249, 249, 249, 0.89) 100%
  );
  backdrop-filter: blur(9.330162048339844px);
}

.RestaurantMeal_amount {
  display: flex;
  align-items: center;
  gap: 1rem;
}


p.RestaurantMeal_realAmount {
  color: #2a2a2a;
  font-size: 16px;
  font-weight: 400;
}

.RestaurantMeal_cart {
  display: flex;
  width: 40%;
  padding: 10.314px;
  justify-content: center;
  align-items: center;
  gap: 10.314px;
  border-radius: 50px;
  background: #27a124;
}

.RestaurantMeal_cart_Icon {
  color: #fefefe;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Restsale-imgs-container {
  display: flex;
  margin: 3rem auto;
}

img.Restmostsold-sale_img {
  width: 100%;
  display: flex;
  align-items: center;
}


.Mobile_RestaurantMeal_container {
  display: none;
}

@media screen and (max-width: 1178px) {

}
@media screen and (max-width: 768px) {
  .RestaurantMeal_Frame {
    display: none;
  }

  .Mobile_RestaurantMeal_container {
    background: #fefefe;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  p.Mobile_RestaurantMeal_title {
    color: #2a2a2a;
    font-family: 'Poppins' sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .Mobile_RestaurantMeal_cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .Mobile_RestaurantMeal_FavANDImage {
    position: relative;
    width: 100%;
  }

  .Mobile_RestaurantMeal_Image {
    width: 100%;
  }

  .Mobile_RestaurantMeal_Fav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 6px;
    gap: 6px;
    border-radius: 60px;
    border: 0.6px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2.528317937850952px);
  }

  .Mobile_RestaurantMeal_FavIcon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #27a124;
  }

  .Mobile_RestaurantMeal_details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.6rem;
    width: 100%;
  }

  .Mobile_RestaurantMeal_NRT {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .Mobile_RestaurantMeal_Name_Rating {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  p.Mobile_RestaurantMeal_N,
  p.Mobile_RestaurantMeal_R_Num {
    color: #2a2a2a;
   font-family: 'Poppins' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .Mobile_RestaurantMeal_Dot {
    width: 5.598px;
    height: 5.598px;
    background: #2a2a2a;
    border-radius: 50px;
  }

  .Mobile_RestaurantMeal_R,
  .Mobile_RestaurantMeal_T {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  .Mobile_RestaurantMeal_R_Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.951px;
    height: 12.951px;
    color: #ffc93f;
  }

  .Mobile_RestaurantMeal_T_Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    gap: 2.398px;
    color: #2a2a2a;
  }

  .Mobile_RestaurantMeal_Liters {
    color: #ef5a5a;
    font-family: 'Poppins' sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .Mobile_RestaurantMeal_amount_and_cart {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0.6rem;
    justify-content: space-between;
    border-radius: 50px;
    background: linear-gradient(
      180deg,
      rgba(249, 249, 249, 0.89) 0%,
      rgba(249, 249, 249, 0.89) 100%
    );
    backdrop-filter: blur(9.330162048339844px);
  }

  .Mobile_RestaurantMeal_amount {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  p.Mobile_RestaurantMeal_realAmount {
    color: #8f8f8f;
   font-family: 'Poppins' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: line-through;
  }

  .Mobile_RestaurantMeal_discountAmount {
    color: #2a2a2a;
  font-family: 'Poppins' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .Mobile_RestaurantMeal_cart {
    display: flex;
    width: 40%;
    padding: 10.314px;
    justify-content: center;
    align-items: center;
    gap: 10.314px;
    border-radius: 50px;
    background: #27a124;
  }

  .Mobile_RestaurantMeal_cart_Icon {
    color: #fefefe;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
