.frame {
  width: min(93%, 1440px);
  margin: 0 auto;
}

.Moving_hero_cont {
  display: flex;
  padding: 30px 0;
  /* margin-top: 40px; */
  justify-content: space-between;
}

.Moving_hero_prod {
  flex-basis: 72%;
}

.Moving_hero_map {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Moving_prod {
  display: flex;
  position: relative;
  height: 350px;
}

.Moving_prod-cont {
  z-index: 1;
}
.Moving_tags-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  height: fit-content;
  flex-wrap: wrap;
}

.Moving_tag-text {
  font-size: 14px;
  padding: 4px 14px;
  border-radius: 59.74px;
  border: 0.6px #2a2a2a solid;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  cursor: pointer;
  background: none;
}

.tag-text-active {
  background: #565656;
  color: #fefefe;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border-radius: 59.74px;
  word-wrap: break-word;
  font-size: 14px;
  padding: 4px 14px;
}
.Moving_Image {
  right: 1rem;
  position: absolute;
  border-radius: 7.17px;
}

.Moving_Image img {
  width: -moz-fit-content;
  width: fit-content;
  width: 555px;
  height: 373px;
  position: relative;
}
.Moving_text-container {
  margin-top: 20px;
  gap: 2.39px;
}

.Moving_highlight {
  color: #2a2a2a;
  font-size: 37px;
  font-family: Poppins;
  font-weight: 500;
  width: 443px;
  line-height: 53px;
  border-radius: 10px;
  background-color: #f6f6f6;
}

.Moving_highlight2 {
  color: #2a2a2a;
  font-size: 37px;
  font-family: Poppins;
  font-weight: 500;
  width: -moz-fit-content;
  width: 401px;
  line-height: 47.7px;
  border-radius: 10px;
  border-top-right-radius: 0;
  background-color: #f6f6f6;
}

.Moving_description {
  color: #2a2a2a;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 370px;
  line-height: 1.5;
  margin-top: 10px;
}

.Moving_get-started-btn {
  background: #27a124;
  border-radius: 6px;
  border: none;
  padding: 12px 16px;
  margin-top: 20px;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.Moving_get-started-btn-icon {
  width: 16px;
  height: 16px;
}

.Moving_overlay {
  width: 100%;
  bottom: 2rem;
  position: absolute;
  background: rgba(255, 255, 255, 0.69);
  border: 0.6px rgba(255, 255, 255, 0.1) solid;
  backdrop-filter: blur(6.09px);
}

.Moving_footer-text {
  color: #2a2a2a;
  text-align: center;
  padding: 14px 8px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.Moving_map {
  width: 94%;
  height: 170px;
  display: flex;
  align-items: center;
  margin: auto;
}

.Moving_pro-name {
  margin: 0 0 14px;
}

.Moving_pro-logo {
  background-color: #fff;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.Moving_star {
  display: flex;
  gap: 2px;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  margin-top: 4px;
}
.Moving_s {
  width: 12px;
}

.Moving_bike {
  width: 100%;
}
.Moving_mobile-display {
  display: none;
}

@media (max-width: 1000px) {
  .home-container {
    background-color: #fcfcfc;
  }
  .Moving_hero_cont {
    flex-direction: column;
    gap: 14px;
  }

  .Moving_hero_map {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 0.7rem;
  }

  .Moving_map {
    width: 60%;
    height: 200px;
  }
  .Moving_pro-logo {
    display: flex;
    flex-direction: column;
  }

  .Moving_highlight2,
  .Moving_highlight {
    background-color: #fcfcfc;
  }
}

@media (max-width: 650px) {
  .Moving_hero_cont {
    margin-top: -72px;
    padding: 0px;
  }

  .Moving_hero_prod {
    display: none;
  }

  .Moving_hero_map {
    display: none;
  }

  .Moving_mobile-display {
    display: block;
  }

  .Moving_mob {
    position: relative;
    overflow-x: hidden;
    height: 70dvh;
    display: block;
  }

  .Moving_mob-image {
    object-fit: fill;
    width: 100dvw;
    height: 100%;
  }

  .Moving_mob_overlay {
    width: 93%;
    margin: 0 auto;
    padding: 16px;
    left: 0;
    right: 0;
    bottom: 5rem;
    position: absolute;
    background: linear-gradient(
      90deg,
      rgba(25, 22, 22, 0.86) 0%,
      rgba(153, 153, 153, 0.38) 100%
    );
    border-radius: 10px;
  }

  .Moving_mob_cont {
    position: relative;
  }

  .Moving_Mobilesearch_filter_box {
    position: absolute;
    bottom: 0.7rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .Moving_Mobilesearch_filter_input {
    width: 93%;
    margin: 0 auto;
    position: relative;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #ebebeb;
    outline: none;
    background: #fcfcfc;
    padding-left: 0.9rem;
  }

  .Moving_Mobilesearch_filter_icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 2rem;
    color: #292d32;
  }

  .Moving_description {
    color: #fcfcfc;
    font-size: 15px;
    font-weight: 300;
    width: 85%;
  }

  .mob_loc {
    background-color: #2a2a2a;
    padding: 20px;
    color: #d4d4d4;
  }

  .Mobile_TopMoving_container {
    width: 100%;
    padding: 1rem;
  }

  .MobileTopMoving_Frame_Container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 100%;
    margin: 0 auto;
    padding: 0.8rem;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.4);
  }

  .MobileTopMoving_Text {
    color: #2a2a2a;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
  }

  .Mobile_TopMoving_Images{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    width: 100%;
  }

  .Mobile_TopMoving_Image{
    width: 100%;
    height: 73px;
  }
}
