.frameChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 0.6px;
    background-color: rgba(194, 194, 194, 0);
    width: 706.1px;
    height: 276px;
}
.food {
    position: relative;
}
.foodWrapper {
    width: 41.2px;
    border-radius: 59.74px;
    background-color: #565656;
    height: 16.7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px;
    box-sizing: border-box;
    color: #fefefe;
}
.courierWrapper {
    width: 50.2px;
    border-radius: 59.74px;
    border: 0.6px solid #2a2a2a;
    box-sizing: border-box;
    height: 16.7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px;
}
.laundryWrapper {
    width: 52.6px;
    border-radius: 59.74px;
    border: 0.6px solid #2a2a2a;
    box-sizing: border-box;
    height: 16.7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px;
}
.groomingWrapper {
    width: 59.7px;
    border-radius: 59.74px;
    border: 0.6px solid #2a2a2a;
    box-sizing: border-box;
    height: 16.7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px;
}
.frameParent {
    position: absolute;
    top: 9.56px;
    left: 17.92px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8.4px;
    font-size: 7.17px;
}
.subtractIcon {
    position: relative;
    border-radius: 7.17px;
    width: 448.6px;
    height: 276px;
}
.yourUltimateSolution {
    width: 341.1px;
    position: relative;
    font-weight: 500;
    display: inline-block;
}
.onePlatformEndless {
    width: 243.1px;
    position: relative;
    font-size: 9.56px;
    display: inline-block;
}
.yourUltimateSolutionForModParent {
    position: absolute;
    top: 35.84px;
    left: 17.92px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.4px;
    font-size: 23.89px;
}
.vuesaxlineararrowRightIcon {
    width: 9px;
    position: relative;
    height: 9px;
}
.vuesaxlineararrowRightWrapper {
    width: 17.9px;
    border-radius: 59.74px;
    height: 17.9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.getStartedParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.frameWrapper {
    position: absolute;
    top: 155.32px;
    left: 17.92px;
    border-radius: 2.39px;
    background-color: #27a124;
    width: 91.4px;
    height: 26.9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px;
    box-sizing: border-box;
    cursor: pointer;
    color: #fefefe;
}
.frameItem {
    position: absolute;
    top: 229.99px;
    left: 269.41px;
    backdrop-filter: blur(6.09px);
    background-color: rgba(255, 255, 255, 0.69);
    border: 0.6px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    width: 448.6px;
    height: 35.2px;
}
.orderFromYour {
    position: absolute;
    top: 240.74px;
    left: 311.82px;
    display: inline-block;
    width: 363.8px;
}
.rectangleParent {
    width: 100%;
    position: relative;
    border-radius: 4.78px;
    height: 276px;
    overflow: hidden;
    text-align: left;
    font-size: 9.56px;
    color: #2a2a2a;
    font-family: Poppins;
}

