.frame {
  width: min(93%, 1440px);
  margin: 0 auto;
}

.hero_frame {
  width: min(93%, 1440px);
  margin: 0 auto;
}

.home-container {
  margin: 6rem 0 0;
  background-color: #fff;
}

.hero_cont {
  display: flex;
  padding: 30px 0;
  /* margin-top: 40px; */
  justify-content: space-between;
}

.hero_prod {
  flex-basis: 72%;
}

.hero_map {
  background-color: #fff;
  height: 100%;
}

.prod {
  display: flex;
  position: relative;
  height: 350px;
}

.prod-cont {
  z-index: 1;
}
.tags-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  height: fit-content;
  flex-wrap: wrap;
}

.tag-text {
  font-size: 14px;
  padding: 4px 14px;
  border-radius: 59.74px;
  border: 0.6px #2a2a2a solid;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  cursor: pointer;
  background: none;
}

.tag-text-active {
  background: #565656;
  color: #fefefe;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border-radius: 59.74px;
  word-wrap: break-word;
  font-size: 14px;
  padding: 4px 14px;
}
.image {
  right: 0;
  position: absolute;
  border-radius: 7.17px;
}

.image img {
  width: fit-content;
  width: 600px;
  height: 350px;
  position: relative;
}
.text-container {
  margin-top: 20px;
  gap: 2.39px;
}

.highlight {
  color: #2a2a2a;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 528px;
  line-height: 55px;
  padding: 4px 9px 4px 0;
  border-radius: 10px;
  background-color: #ffffff;
}

.highlight2 {
  color: #2a2a2a;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: fit-content;
  padding: 0 16px 4px 0;
  line-height: 50px;
  border-radius: 10px;
  border-top-right-radius: 0;
  background-color: #ffffff;
}

.description {
    color: #2a2a2a;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    width: 370px;
    line-height: 1.5;
    margin-top: 10px;
}

.get-started-btn {
  background: #27a124;
  border-radius: 6px;
  border: none;
  padding: 12px 16px;
  margin-top: 20px;
  color: white;
  font-size: 1rem;
}

.overlay {
  width: 100%;
  bottom: 2rem;
  position: absolute;
  background: rgba(255, 255, 255, 0.69);
  border: 0.6px rgba(255, 255, 255, 0.1) solid;
  backdrop-filter: blur(6.09px);
}

.footer-text {
  color: #2a2a2a;
  text-align: center;
  padding: 14px 8px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.map {
  width: 100%;
  height: 180px;
}

.pro-name {
  margin: 14px 0;
}

.star {
  display: flex;
  gap: 2px;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  margin-top: 4px;
}
.s {
  width: 12px;
}

.bike {
  width: 100%;
}
.mobile-display {
  display: none;
}

@media (max-width: 1000px) {
  .home-container {
    background-color: #fcfcfc;
  }
  .hero_cont {
    flex-direction: column;
    gap: 14px;
  }

  .hero_map {
    justify-content: space-between;
    display: flex;
  }

  .map {
    width: 60%;
    height: 180px;
  }
  .pro-logo {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .hero_frame {
    width: min(100%, 1440px);
    margin: 0 auto;
  }
  .hero_cont {
    margin-top: -72px;
    padding: 0px;
  }
  .hero_prod {
    display: none;
  }
  .hero_map {
    display: none;
  }

  .mobile-display {
    display: block;
  }
  .mob {
    position: relative;
    overflow-x: hidden;
    height: 70dvh;
    display: block;
  }

  .mob-image {
    object-fit: fill;
    width: 100dvw;
    height: 100%;
  }
  .mob_overlay {
    width: 93%;
    margin: 0 auto;
    padding: 16px;

    left: 0;
    right: 0;
    bottom: 0.5rem;
    position: absolute;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 14px;
    border: 1px rgba(255, 255, 255, 0.1) solid;
    backdrop-filter: blur(13.8px);
  }
  .mob_cont {
    position: relative;
  }

  .tag-text-active {
    background: #565656;
    color: #2a2a2a;
    border: none;
    border: 0.6px #565656 solid;
    font-size: 10px;
    padding: 4px 10px;
    color: #fefefe;
    border-radius: 54px;
  }
  .tag-text {
    font-size: 10px;
    padding: 4px 10px;
    border-radius: 54px;
    color: #fefefe;
    border: 0.6px solid;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }

  .text-container {
    margin-top: 20px;
    gap: 2.39px;
  }

  .highlight {
    color: #fcfcfc;
    font-size: 1.3rem;
    font-weight: 500;
    width: 100%;
    line-height: 30px;
    background-color: transparent;
  }

  .description {
    color: #fcfcfc;
    font-size: 15px;
    font-weight: 300;
    width: 85%;
  }

  .mob_loc {
    background-color: #2a2a2a;
    padding: 20px;
    color: #d4d4d4;
  }

  .get-started-btn {
    font-size: 0.8rem;
  }
}
